*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    --green: #59c45a;
    --white: #fff;
    --grey: #474747;
    --darkgrey: #3c3c3c;
    --wrapWidth: 1920px;
    --contWidth: 1200px;
}

body {
    background: var(--white);
    font-family: "Lato", sans-serif;
}

.wrapper {
    max-width: var(--wrapWidth);
    margin: 0 auto;

}

.contanier {
    max-width: var(--contWidth);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

nav a {
    text-decoration: none;
    color: var(--grey);
    display: block;
    padding: 56px 23px;
    font-size: 18px;
    font-weight: 900;
}

nav a:hover {
    color: var(--white);
    background-color: var(--green);
    transition: .3s;
}

header .contanier {
    align-items: center;
}

.logo {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--green);
    font-weight: bold;
    font-size: 28px;
    display: block;
    padding: 12px 21px;
    border: 2px solid #b7b7b7;
    position: relative;
}

.logo::after {
    content: 'travel';
    text-transform: uppercase;
    font-size: 18px;
    color: var(--green);
    font-weight: normal;
    padding: 0 15px;
    background-color: var(--white);
    position: absolute;
    top: 45px;
    left: 40px;
}
.mini-menu {
    display: none;
}

.home {
    min-height: 915px;
    background: url('../img/bg.jpg') center/cover fixed;
}
.home-contanier {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: inherit;
    text-align: center;
}

.home-title {
    margin: 0;
    color: var(--white);
    text-transform: uppercase;
    font-size: 68px;
}

.home-text {
    color: var(--white);
    max-width: 1000px;
    margin: 50px auto 90px;
    font-size: 22px;
    line-height: 38px;
}

.home-link {
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--green);
    color: var(--white);
    font-weight: 26px;
    padding: 25px 40px;
    border-radius: 4px;
}

.favorable {
    padding: 100px 0 70px;
}

.section-title {
   text-align: center; 
   text-transform: uppercase;
   font-size: 28px;
   color: var(--green);
   font-weight: normal;
   margin: 0;
   position: relative;
}
.section-title::before {
    content: '';
    display: block;
    height: 1px;
    width: 150px;
    background: #c2c2c2;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-75px);
}

.section-title::after {
    content: '';
    display: block;
    height: 3px;
    width: 50px;
    background: var(--green);
    position: absolute;
    top: 39px;
    left: 50%;
    transform: translateX(-25px);
}

.fav-contanier {
    flex-wrap: wrap;
    margin-top: 60px;
}

.fav-item {
    width: 48%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}

.fav-text {
   width: 280px; 
}

.fav-text h6 {
    margin: 14px 0 25px;
    color: var(--darkgrey);
    font-size: 15px;
    line-height: 20px;
}

.fav-text p {
    font-size: 14px;
    color: #959595;
    line-height: 22px;
}

.fav-img {
    width: 40%;
    margin-right: 30px;
}

